<nav class="navbar">
  <div class="brand">
    <img src="./frontend/src/assets/images/logo.png" alt="Logo">
    <h1>Santas Cuerdas</h1>
  </div>
  <ul>
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#sobre-nosotros">Nosotros</a></li>
    <li><a href="#programas">Programas</a></li>
    <li><a href="#eventos">Eventos</a></li>
    <li><a href="#galeria">Galeria</a></li>
    <li><a href="#testimonios">Testimonios</a></li>
    <li><a href="#blog">Recursos Musicales</a></li>
    <li><a href="#contacto">Contacto</a></li>
    <li><a href="#redes_sociales">Redes</a></li>
    <li><a href="#aliados">Aliados</a></li>
  </ul>
</nav>
